<div>
    <div class="row" style="padding: 12px">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nome Completo" required>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="CPF" required>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Sexo">
        </div>
    </div>

    <div class="row" style="padding: 12px">
        <div class="col">
            <input type="text" class="form-control" placeholder="Endereço">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Número">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Bairro">
        </div>
    </div>

    <div class="row" style="padding: 12px">
        <div class="col">
            <input type="text" class="form-control" placeholder="CEP">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Telefone" required>
        </div>
    </div>

    <div class="col-auto" style="padding: 12px">
        <button type="submit" class="btn btn-outline-success">Confirmar</button>
    </div>
    <div class="col-md-1 col-sm-12" style="padding: 12px">
        <a class="btn btn-outline-danger" asp-controller="Clients" asp-action="Index">Voltar</a>
    </div>
</div>
