<div>
    <a class="btn btn-outline-primary" role="button" asp-controller="Clients" asp-action="Cadastro">Cadastrar cliente</a>
</div>

<table class="table table-hover" style="margin-top: 20px" >
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark</td>
            <td>12345678910</td>
            <td>12345</td>
        </tr>
        <tr>
            
            <td>Jacob</td>
            <td>10987654321</td>
            <td>54321</td>
        </tr>
    </tbody>
</table>
