<div>
    <a class="btn btn-outline-primary" role="button" asp-controller="Produto" asp-action="Index">Cadastrar produto</a>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 24px">
    <li class="nav-item" role="presentation">
        <a class="nav-link text-dark active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Principal</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link text-dark" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Infantil</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link text-dark" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Jovem</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link text-dark" id="adulto-tab" data-toggle="tab" href="#adulto" role="tab" aria-controls="Adulto" aria-selected="false">Adulto</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="padding: 20px;">
        <div class="card-deck">
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/c02239c36b8343589a49a930014dc026_9366/Camiseta_Trefoil_(UNISSEX)_Branco_DV2904_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$89,99</h5>
                    <p class="card-text">Camiseta Trefoil (UNISSEX), branca. Feita de malha 100% algodão para uma sensação de maciez.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/c30b56b4cc6f40dfaaf6a930014e57ed_9366/Camiseta_Trefoil_(UNISSEX)_Preto_DV2905_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$89,99</h5>
                    <p class="card-text">Camiseta Trefoil (UNISSEX), preta. Feita de malha 100% algodão para uma sensação de maciez.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/e69d20a2dd7a4e2884f6ab0700dd3198_9366/Tenis_Tensor_(UNISSEX)_Preto_EG4124_01_standard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$139,99</h5>
                    <p class="card-text">Tênis Tensor (UNISSEX) infantil. Conforto garantido em qualquer lugar, fornece amortecimento prologando para os pezinhos.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/9e4d8a6273de4f7db334ac31014a4fb4_9366/Blusa_Capuz_Trefoil_(UNISSEX)_Rosa_GN8258_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$159,99</h5>
                    <p class="card-text">Blusa Capuz Trefoil (UNISSEX). Esta blusa com capuz infantil tem design com ombros caídos para um caimento mais solto. O tecido de moletinho proporciona uma sensação confortável e macia.</p>
                </div>
            </div>
        </div>

        <div class="card-deck">
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/8c1106b685ed42418534ac9f00bb25fc_9366/Tenis_ZX_2K_Boost_Marvel_Preto_H01069_01_standard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$699,99</h5>
                    <p class="card-text">Tênis ZX 2K Boots Marvel combina tecnologia de corrida retrô da vida real com detalhes inspirados na empresa fictícia de Tony Stark, do Homem de Ferro da Marvel.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/1e5ac363913e427a9eafaa4601160a8a_9366/Tenis_Grand_Court_Branco_EF0103_01_standard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$229,99</h5>
                    <p class="card-text">Tênis Grand Court. Este tênis inspirado nas quadras tem cabedal sintético macio com as Três Listras contrastantes. Uma palmilha leve proporciona conforto na correria do dia a dia.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/c9567e83db5549adbbcea918008ddddf_9366/Calcas_de_Treino_Tiro_19_(UNISSEX)_Preto_D95961_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$119,99</h5>
                    <p class="card-text">Calças de Treino Tiro 19 (UNISSEX). Treino pesado. Pele refrescada. Esta calça de futebol combate o calor com um tecido respirável e de secagem rápida.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/237f6c2592094a4bafa7ab6501229566_9366/Camisa_Treino_Juventus_(UNISSEX)_Cinza_FR4251_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$129,99</h5>
                    <p class="card-text">Camisa Treino Juventus (UNISSEX). Camisas de jogo recebem toda a glória. Mas camisas de treino são para o trabalho duro. Esta camisa de treino adidas juvenil da Juventus é a mesma que os jogadores usam enquanto se preparam para futuros títulos.</p>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/132e295fadd0454287a8aa9c010a1b68_9366/Top_Ultimate_Preto_FJ7283_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$219,99</h5>
                    <p class="card-text">Top Ultimate. Este top esportivo oferece o mais alto nível de suporte. Da faixa interna macia às alças acolchoadas, cada detalhe foi desenvolvido para oferecer máximo conforto.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/3eaf08cddd4c45b4844ea921010c94d5_9366/Maio_Athly_V_Logo_Preto_DT4837_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$79,99</h5>
                    <p class="card-text">Maiô Athly V Logo. Leve sua performance para outro nível, uma braçada por vez. O corte médio do decote, costas e pernas proporciona uma cobertura confortável para o seu treino diário.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/b3cbaa030b6f43b2b43eab240022e463_9366/Blusa_Moletom_Capuz_Graphic_Shmoo_(UNISSEX)_Preto_GJ0843_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$299,99</h5>
                    <p class="card-text">Blusa Moletom Capuz Graphic Shmoo (UNISSEX). Cores de inspiração universitária e um capuz ajustável por cordão tornam esta blusa de moletom perfeita para o dia a dia.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/ac501062a1a94f808802ac79014c24fd_9366/Camisa_Solid_Rugby_Preto_GL9917_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$349,99</h5>
                    <p class="card-text">Camisa Solid Rugby. Esta camisa polo de manga longa da adidas Skateboarding é inspirada nas camisas de rugby. Ela é confeccionada em malha de algodão para maior conforto e maciez.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" style="padding: 20px;">
        <div class="card-deck">
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/c02239c36b8343589a49a930014dc026_9366/Camiseta_Trefoil_(UNISSEX)_Branco_DV2904_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$89,99</h5>
                    <p class="card-text">Camiseta Trefoil (UNISSEX), branca, infantil. Feita de malha 100% algodão para uma sensação de maciez.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/c30b56b4cc6f40dfaaf6a930014e57ed_9366/Camiseta_Trefoil_(UNISSEX)_Preto_DV2905_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$89,99</h5>
                    <p class="card-text">Camiseta Trefoil (UNISSEX), preta, infantil. Feita de malha 100% algodão para uma sensação de maciez.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/e69d20a2dd7a4e2884f6ab0700dd3198_9366/Tenis_Tensor_(UNISSEX)_Preto_EG4124_01_standard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$139,99</h5>
                    <p class="card-text">Tênis Tensor (UNISSEX) infantil. Conforto garantido em qualquer lugar, fornece amortecimento prologando para os pezinhos.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/9e4d8a6273de4f7db334ac31014a4fb4_9366/Blusa_Capuz_Trefoil_(UNISSEX)_Rosa_GN8258_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$159,99</h5>
                    <p class="card-text">Blusa Capuz Trefoil (UNISSEX). Esta blusa com capuz infantil tem design com ombros caídos para um caimento mais solto. O tecido de moletinho proporciona uma sensação confortável e macia.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab" style="padding: 20px;">
        <div class="card-deck">
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/8c1106b685ed42418534ac9f00bb25fc_9366/Tenis_ZX_2K_Boost_Marvel_Preto_H01069_01_standard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$699,99</h5>
                    <p class="card-text">Tênis ZX 2K Boots Marvel combina tecnologia de corrida retrô da vida real com detalhes inspirados na empresa fictícia de Tony Stark, do Homem de Ferro da Marvel.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/1e5ac363913e427a9eafaa4601160a8a_9366/Tenis_Grand_Court_Branco_EF0103_01_standard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$229,99</h5>
                    <p class="card-text">Tênis Grand Court. Este tênis inspirado nas quadras tem cabedal sintético macio com as Três Listras contrastantes. Uma palmilha leve proporciona conforto na correria do dia a dia.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/c9567e83db5549adbbcea918008ddddf_9366/Calcas_de_Treino_Tiro_19_(UNISSEX)_Preto_D95961_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$119,99</h5>
                    <p class="card-text">Calças de Treino Tiro 19 (UNISSEX). Treino pesado. Pele refrescada. Esta calça de futebol combate o calor com um tecido respirável e de secagem rápida.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/237f6c2592094a4bafa7ab6501229566_9366/Camisa_Treino_Juventus_(UNISSEX)_Cinza_FR4251_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$129,99</h5>
                    <p class="card-text">Camisa Treino Juventus (UNISSEX). Camisas de jogo recebem toda a glória. Mas camisas de treino são para o trabalho duro. Esta camisa de treino adidas juvenil da Juventus é a mesma que os jogadores usam enquanto se preparam para futuros títulos.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="adulto" role="tabpanel" aria-labelledby="adulto-tab" style="padding: 20px;">
        <div class="card-deck">
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/132e295fadd0454287a8aa9c010a1b68_9366/Top_Ultimate_Preto_FJ7283_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$219,99</h5>
                    <p class="card-text">Top Ultimate. Este top esportivo oferece o mais alto nível de suporte. Da faixa interna macia às alças acolchoadas, cada detalhe foi desenvolvido para oferecer máximo conforto.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/3eaf08cddd4c45b4844ea921010c94d5_9366/Maio_Athly_V_Logo_Preto_DT4837_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$79,99</h5>
                    <p class="card-text">Maiô Athly V Logo. Leve sua performance para outro nível, uma braçada por vez. O corte médio do decote, costas e pernas proporciona uma cobertura confortável para o seu treino diário.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/b3cbaa030b6f43b2b43eab240022e463_9366/Blusa_Moletom_Capuz_Graphic_Shmoo_(UNISSEX)_Preto_GJ0843_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$299,99</h5>
                    <p class="card-text">Blusa Moletom Capuz Graphic Shmoo (UNISSEX). Cores de inspiração universitária e um capuz ajustável por cordão tornam esta blusa de moletom perfeita para o dia a dia.</p>
                </div>
            </div>
            <div class="card" style="margin-bottom: 12px">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/ac501062a1a94f808802ac79014c24fd_9366/Camisa_Solid_Rugby_Preto_GL9917_01_laydown.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">R$349,99</h5>
                    <p class="card-text">Camisa Solid Rugby. Esta camisa polo de manga longa da adidas Skateboarding é inspirada nas camisas de rugby. Ela é confeccionada em malha de algodão para maior conforto e maciez.</p>
                </div>
            </div>
        </div>
    </div>
</div>
